<!DOCTYPE html>
<html ng-app="ngBoilerplate" ng-controller="AppCtrl" lang="en">
    <head>
        <title ng-bind="pageTitle"></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <!--
        <base href="/sn/portal/build/">
        -->
        <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
        <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>
        <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
        <script type="text/javascript" src="<%= file %>"></script><% }); %>
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
          <![endif]-->
    </head>
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
        <!-- Fixed navbar -->
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-custom navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" title="navbar-toggle" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <span class="navbar-brand">
                        George Papadimitriou
                    </span>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                    <ul class="nav navbar-nav">
                        <li class="hidden">
                            <a href="#page-top">Home</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#about">About me</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#education">Education</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#work">Work Experience</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#research">Research</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#publications">Publications</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#projects">Projects</a>
                        </li>

                        <!--
                        <li>
                            <a class="page-scroll" href="#honors">Honors & Awards</a>
                        </li>
                        -->
                        <li>
                            <a class="page-scroll" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        <!-- Intro Header -->

        <header id="intro" class="intro" ui-view="intro" autoscroll="true">

            <div class="intro-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 jumbotron">
                            <ng-include src=" 'subviews/intro.tpl.html' "></ng-include>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Begin page content -->
        <main ui-view="main"></main>
        <!-- Footer -->
        <footer>
            <p class="text-center responsive-width">Designed and developed by Marios Braho</p>
        </footer>
    <scroll-to-top></scroll-to-top>
    <!--
    <script src="http://localhost:35729/livereload.js"></script>
    -->
</body>
</html>
